{% extends "RmzamoraCalendarBundle::layout.html.twig" %}
{% block rmzamora_calendar_content %}
This is the {{ event.getTitle() }} event. Riveting.

<p>Organizer: {{ event.organizer.username }}</p>

<h3>Attendees ({{ event.attendees|length }})</h3>

<ul>
{% for attendee in event.attendees %}
    <li>{{ attendee.user.username }} - {{ attendee.status }}</li>
{% endfor %}
</ul>
<p>{% if event.attendees is empty %}None yet! {% endif %}<a href="{{ path(rmzamora_calendar_route('attendee', 'add'), {"eventId": event.id}) }}">Attend this event?</a></p>
{% endblock rmzamora_calendar_content %}
